<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">

  <!-- 日志输出目录 -->
  <property name="LOG_PATH" value="D:/Project/Log/spring-oneself" />
  <!-- 格式化输出 %d表示日期 %-5level表示从左显示5个字符宽度的日志级别 %logger表示类名 %msg表示日志消息 %n表示换行 -->
  <property name="LOG_CONSOLE_PATTERN" value="%boldGreen(%d{yyyy-MM-dd HH:mm:ss SSS}) %highlight([%-5level]) %magenta([%thread]) %cyan(%logger{100}:%line) - %msg%n" />
  <property name="LOG_FILE_PATTERN" value="%d{yyyy-MM-dd HH:mm:ss SSS} [%-5level] [%thread] %logger{100}:%line - %msg%n" />
  <!-- 单个日志最大大小 -->
  <property name="MAX_FILE_SIZE" value="16MB" />
  <!-- 所有日志最大暂用空间 -->
  <property name="TOTAL_SIZE_CAP" value="100GB" />
  <!-- 所有日志最长保留时长(天) -->
  <property name="MAX_HISTORY" value="365" />

  <!-- 控制台输出日志 -->
  <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
      <level>INFO</level>
    </filter>
    <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
      <pattern>${LOG_CONSOLE_PATTERN}</pattern>
    </encoder>
  </appender>

  <!-- INFO文件日志 -->
  <appender name="FILE_INFO" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
      <level>INFO</level>
    </filter>
    <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
      <fileNamePattern>${LOG_PATH}/log-info.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
      <maxFileSize>${MAX_FILE_SIZE}</maxFileSize>
      <totalSizeCap>${TOTAL_SIZE_CAP}</totalSizeCap>
      <maxHistory>${MAX_HISTORY}</maxHistory>
    </rollingPolicy>
    <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
      <pattern>${LOG_FILE_PATTERN}</pattern>
    </encoder>
  </appender>

  <!-- ERROR文件日志 -->
  <appender name="FILE_ERROR" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
      <level>ERROR</level>
    </filter>
    <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
      <fileNamePattern>${LOG_PATH}/log-error.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
      <maxFileSize>${MAX_FILE_SIZE}</maxFileSize>
      <totalSizeCap>${TOTAL_SIZE_CAP}</totalSizeCap>
      <maxHistory>${MAX_HISTORY}</maxHistory>
    </rollingPolicy>
    <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
      <pattern>${LOG_FILE_PATTERN}</pattern>
    </encoder>
  </appender>

  <root level="INFO">
    <appender-ref ref="CONSOLE"/>
    <appender-ref ref="FILE_INFO"/>
    <appender-ref ref="FILE_ERROR"/>
  </root>
</configuration>